{% extends 'index.html' %}
{% load static %}
{% block content %}

<body class="font-body">
    <!-- home section -->
    <section class="bg-white xl:mt-62 md:mt-42 mb-10  md:mb-42 xl:mb-62">
            <div class="container max-w-screen-xl mx-auto px-4">
                <div class="flex items-center justify-center xl:justify-start">
                    <div class="xl:mt-60 md:50 mt-10 text-center xl:text-center">
                            <h1 class="font-semibold mt-30 text-4xl md:text-6xl lg:text-5xl primario leading-normal mb-10">¿Quienes somos?</h1>
                            
                            <p class="font-normal text-xl text-center text-gray-400 leading-relaxed mb-12">Somos un equipo comprometidos a mejorar la calidad de vida de las personas con 
                                Alzheimer, tomando en cuenta cada una de las necesidades que pueden tener y facilitando la planificación de sus días con las diferentes actividades.</p>
                            
                                <p class="font-normal text-xl text-center text-gray-400 leading-relaxed mb-12">Enfrentando la realidad de las habilidades preservadas en la memoria de las personas 
                                con Alzheimer, como la capacidad de leer o escuchar libros, contar historias, compartir 
                                recuerdos, cantar, disfrutar de la música, bailar, dibujar, o participar en manualidades, 
                                nuestro proyecto tiene como misión enriquecer la vida diaria de estas personas.
                                </p>
                            
                                <p class="font-normal text-xl text-center text-gray-400 leading-relaxed mb-12">    Como objetivo mejorar la calidad de vida de estas personas mediante el desarrollo de 
                                un asistente virtual personalizado. Este asistente no solo ayuda a recordar las tareas 
                                diarias, sino que también tiene capacidades avanzadas, como la identificación facial para 
                                detectar emociones y brindar apoyo emocional.
                            </p>
                    </div>
                </div>
            </div> <!-- container.// -->
    </section>
    <!-- gallery section -->
    <section class="bg-white py-10 md:py-16">

            <div class="container max-w-screen-xl  mx-auto px-4">

                <h1 class="font-semibold secundario text-7xl text-center mb-20">Conócenos</h1>

                <div class="flex space-x-4 md:space-x-6 lg:space-x-8">
                    <div>
                        <img src="{% static 'img/valen.png'%}" alt="image" class="mb-4 md:mb-6 w-100 h-90 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="{% static 'img/lluna.png'%}" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>

                    <div>
                        <img src="{% static 'img/carla.png'%}" alt="" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="{% static 'img/sergio.png'%}" alt="" class="mb-3 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                    </div>

                    <div>
                        <img src="{% static 'img/gracia.png'%}" alt="" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="{% static 'img/cristian.png'%}" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>
                </div>

            </div> <!-- container.// -->

     </section>
    <!-- book section -->
    <section class="bg-white py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4 xl:relative">
                <div class="bg-gray-700 flex flex-col lg:flex-row items-center justify-evenly py-10 rounded-3xl">
                    <div class="text-center lg:text-left mb-10 lg:mb-0">
                        
                        <h1 class="font-semibold text-white text-4xl md:text-5xl lg:text-7xl leading-normal mb-4">Contactamos</h1>
                        <p class="font-normal text-white text-md md:text-xl">¡Queremos tu colaboración! Conéctate con nosotros <br>para ser parte activa del proyecto.</p>
                        <img src=" {% static 'img/CodeHexLogoBlanco.png'%}" alt="CodeHexLogoBlanco" class="w-40 mt-10 h-30 ">

                    </div>
                    <div class="hidden xl:block xl:absolute right-0">
                        <img src="{% static 'assets/image/book.png'%}" alt="Image">
                    </div>
                    <div class="hidden md:block bg-white xl:relative px-6 py-3 rounded-3xl">
                        <div class="py-3">
                            <h3 class="font-semibold text-gray-900 text-3xl">Cita de reunión</h3>
                        </div>
                        <div class="py-3">
                            <input type="text" placeholder="Nombre" class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                        </div>
                        <div class="py-3">
                            <input type="text" placeholder="Email" class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                        </div>
                        <div class="py-3 relative">
                            <input type="text" placeholder="Date" class="px-4 py-4 w-96 bg-gray-100 font-normal text-lg placeholder-gray-400 rounded-xl outline-none">
                            <div class="absolute inset-y-0 left-80 ml-6 flex items-center text-xl text-gray-600">
                                <i data-feather="calendar"></i>
                            </div>
                        </div>
                        <div class="py-3">
                            <button class="w-full py-4 font-semibold text-lg text-white bg-gray-800  rounded-xl hover:bg-gray-400  transition ease-in-out duration-500">Enviar</button>
                        </div>
                    </div>
                    
                </div>
                
            </div> <!-- container.// -->
    </section>
        <!-- book section //end -->

</body>
{%endblock%}