
    {% load static %}
    <div id="chatbot-container">
        {% include 'mostrar_transcripcion.html' %}
    </div>

    <script>
        document.getElementById("grabarForm").addEventListener("submit", function (event) {
            event.preventDefault();

            // Realizar la solicitud POST a la vista grabar_audio
            fetch("{% url 'grabar_audio' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams(new FormData(document.getElementById("grabarForm")))
            })
            .then(response => response.json())
            .then(data => {
                // Actualizar dinámicamente el contenido en la página
                document.getElementById("chatbot-container").innerHTML = `
                    <h1>Transcripción del Mensaje</h1>
                    <p>Texto grabado: ${data.texto_grabado}</p>
                    <p>Texto contestado: ${data.respuesta}</p>
                `;
            })
            .catch(error => console.error("Error:", error));
        });
    </script>

