{% extends 'index.html' %}
{% load static %}
{% block content %}

<body class="font-body">
                <!-- home section -->
    <section class="bg-white mt-20 mb-20 md:mb-52 xl:mb-65">
        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="flex items-center justify-center xl:justify-start">
                <div class="lg:mt-28  ml-16 text-center xl:text-left">
                    <h1 class="font-semibold text-4xl md:text-6xl lg:text-7xl primario leading-normal mb-6">Tu aliado virtual</h1>
                        <p class="font-normal text-xl text-gray-400 leading-relaxed mb-12">Únete a nosotros en este viaje hacia el bienestar<br> emocional y la conexión significativa. Estamos listos <br>para ser ese compañero confiable que transforma cada día<br> 
                            en una historia llena de emociones y recuerdos preciosos</p>
                        <p class="font-normal text-l text-gray-400 leading-relaxed mb-12">¡Descúbrelo ahora y haz que cada momento cuente!</p>
                        {%if request.user.is_authenticated%}
                        <button class="px-6 py-4 bg-gray-800 text-white font-semibold text-lg rounded-xl hover:bg-gray-400 transition ease-in-out duration-500"><a href="{%url 'logout'%}">Salir</a></button>
                        {% else %}
                        <button class="px-6 py-4 bg-gray-800 text-white font-semibold text-lg rounded-xl hover:bg-gray-400 transition ease-in-out duration-500"><a href="{% url 'register' %}">Registrate</a></button>
                        {% endif %}

                </div>
                <div class="hidden xl:block xl:absolute z-0 top-0 right-0">
                    <img src="{% static 'img/principal1.png'%} " alt="Home img">
                </div>
            </div>
        </div> <!-- container.// -->
    </section>
    <!-- home section //nd -->

    <!-- content section -->
    <section class="bg-white py-5 md:py-16 xl:relative">

        <div class="container max-w-screen-xl mx-auto">

        <div class="flex flex-col xl:flex-row justify-end">

                <div class="hidden xl:block xl:absolute left-0 bottom-0 w-full">
                    <img src="{% static 'img/principal2.png'%} " alt="señora">
                </div>
                <div class="">
                    <h1 class="font-semibold primario text-4xl md:text-5xl text-center leading-normal mb-20">Te brindamos numerosas 
                        <br>facilidades </h1>
                    <p class="font-normal text-gray-400 text-md md:text-xl text-center mb-16">Tu Asistente Virtual ajustará sus interacciones para ofrecerte consuelo y entretenimiento, <br>
                        por supuesto, los recuerdos son tesoros que atesoramos con cariño</p>
                    <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
                        <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                            <img src="{% static 'img/calendario.png'%}" alt="calendario img" class="w-20">
                        </div>
                        
                        <div class="text-center md:text-left">
                            <h4 class="font-semibold secundario text-2xl mb-2">Recordatorio de Tareas Diarias</h4>
                            <p class="font-normal text-gray-400 text-l leading-relaxed">El asistente virtual ayuda a las personas con Alzheimer a recordar
                                y realizar<br> sus tareas diarias, proporcionando orientación y recordatorios personalizados.</p>
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
                        <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                            <img src="{% static 'img/felicidad.png'%}" alt="Felicidad" class="w-20">
                        </div>

                        <div class="text-center md:text-left">
                            <h4 class="font-semibold secundario text-2xl mb-2">Detección Emocional</h4>
                            <p class="font-normal text-gray-400 text-l leading-relaxed">Utilizando la tecnología de identificación facial, el asistente puede reconocer 
                                <br>las emociones de los usuarios. Si detecta tristeza, puede ofrecer actividades<br> y juegos diseñados para mejorar el estado de ánimo.</p>
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4">
                        <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                            <img src="{% static 'img/entretenimiento.png'%}" alt="entretenimiento" class="w-20">
                        </div>

                        <div class="text-center md:text-left">
                            <h4 class="font-semibold secundario text-2xl mb-2">Entretenimiento Terapéutico</h4>
                            <p class="font-normal text-gray-400 text-l leading-relaxed">El proyecto incluye funciones de entretenimiento, como juegos interactivos y la 
                                <br>reproducción de música seleccionada para mejorar el bienestar emocional <br>de los usuarios.</p>
                        </div>
                    </div>

                </div>

        </div>

        </div> <!-- container.// -->

    </section>
    <!-- content section //end -->

    <!-- video section -->
    <section>
        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="flex items-center justify-center ">
                <div class="  mt-20 text-center ">
                        <h1 class="font-semibold mt-30 text-4xl md:text-6xl lg:text-5xl primario leading-normal mb-10">¿Por que elegirnos?</h1>
                        <iframe>

                        </iframe>
                </div>
            </div>
        </div> <!-- container.// -->
    </section>
        <!-- video section/end  -->

</body>
{% endblock %}
