{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECUERDA ME/TE</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    
</head>
<style>
    .alert_activity{
        display: none;
        position: fixed;
        top: 20px;
        left: 15px;
        background-color: tomato;
        color: white;
        font-family: sans-serif;
        padding: 10px;
        border-radius: 5px;
    }
</style>
<body>
    
    {% include 'core/header.html' %}
    <p class="id_user" style="display: none;">{{request.user.id}}</p>
    <p class="alert_feeling" style="display: none; position: fixed; top: 20px; left: 20px; background-color: tomato; color: white; padding: 10px;"></p>
    <p class="alert_activity"></p>
    {% block content %}
    
    {% endblock %}

    {% include 'core/footer.html' %}

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>