<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <form method="POST">
            {% csrf_token %}
            <div class="div_input">
                <label>Usuario</label>
                {{form.username}}
            </div>
            <div class="div_input">
                <label>Contraseña</label>
                {{form.password}}
            </div>
            <p>{{error}}</p>
            <input type="submit" value="Entrar">
        </form>
    </main>
</body>
</html>