<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mostrar Transcripción</title>
    <!-- Agrega el enlace al archivo CSS de Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body class="font-montserrat bg-gray-100 min-h-screen flex flex-col">

    <div class="bg-blue-500 text-white p-4 text-center rounded">
        <h1 class="text-2xl">Lilly</h1>
    </div>

    <div class="flex-1 p-4 bg-white mt-4 rounded">
        <div class="flex items-start mb-2">
            <div class="bg-gray-300 p-2 rounded-tl rounded-tr rounded-br">
                <p class="text-gray-800">Di algo pulsando grabar mensaje: {{ texto_grabado }}</p>
            </div>
        </div>
        
        <div class="flex items-end mb-2">
            <div class="bg-blue-500 text-white p-2 rounded-tl rounded-tr rounded-bl self-end">
                <p>Respuesta: {{ respuesta }}</p>
            </div>
        </div>
    </div>

    <form method="post" action="{% url 'grabar_audio' %}" class="p-4">
        {% csrf_token %}
        <button id="grabarForm" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white p-2 rounded transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
                Grabar Mensaje
            </svg>
            
        </button>
    </form>


</body>
</html>
