{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECUERDA ME/TE</title>
    <link rel="stylesheet" href="{% static 'css/generall.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    {% include 'core/header.html' %}
    <div id="formu">
        {{cv}}
        <div class="fila centrar-horizontal">
            <div class="colum" id="form-title">
                <h1> FORMULARIO</h1>
            </div>
        </div>
        <div class="fila centrar-horizontal">
            <div class="col-12">
                <section>
                    <h3>Datos de usuario</h3>
                        <form name="form_user" method="post">
                            {% csrf_token %}
                            <p>
                            <label for="nombre">Nombre:</label><br>
                            <input type="text" id="nombre" name="first_name" value="{{request.user.first_name}}" disabled>
                            </p>
                            <p>
                            <label for="apellido">Apellido:</label><br>
                            <input type="text" id="apellido" name="last_name" value="{{request.user.last_name}}" disabled>
                            </p>
                            <p>
                            <label for="fecha">Fecha de nacimiento:</label><br>
                            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
                            <p class="value_fecha" style="display:none">{{request.user.fecha_nacimiento}}</p>
                            </p>
                            <p>
                            <label for="direccion">Dirección:</label><br>
                            <input type="text" id="direccion" name="direccion" value="{{request.user.direccion}}">
                            </p>
                            <p>
                            <label for="codigopostal">Código postal:</label><br>
                            <input type="text" id="postal" name="codigo_postal" value="{{request.user.codigo_postal}}">
                            </p>
                            <p>
                            <label for="medicacion">Medicación:</label><br>
                            <input type="text" id="medicacion" name="medicacion" value="{{request.user.medicacion}}">
                            </p>
                            <p>
                            <label for="telefono">Número de telefono:</label><br>
                            <input type="number" id="telefono" name="numero_telefono" value="{{request.user.numero_telefono}}">
                            </p>
                            <p>
                            <label for="opciones">¿Cuál es tu etapa?</label><br>
                            <select id="etapa" name="etapa">
                                {% for el in etapas_alzheimer %}
                                    {% if el == request.user.etapa %}
                                        {% if request.user.etapa != None %}
                                        <option value="{{request.user.etapa}}" selected>{{request.user.etapa}}</option>
                                        {% endif %}
                                    {% else %}
                                    <option value="{{el}}">{{el}}</option>
                                    {% endif %}
                                {% endfor %}
                                
                            </select>
                            </p>
                            <p>
                            <label for="email">Correo Electrónico:</label><br>
                            <input type="email" id="email" name="email" value="{{request.user.email}}" disabled>
                            </p>

                            <h3> Datos de contacto </h3>
                        <p>
                        <label for="nombrecontacto">Nombre:
                        </label><br>
                        <input type="text" id="firstname_contact" name="firstname_contact" value="{{contact_user.firstname}}">
                        </p>
                        <p>
                        <label for="apellidocontacto">Apellido:</label><br>
                        <input type="text" id="lastname_contact" name="lastname_contact" value="{{contact_user.lastname}}">
                        </p>
                        <p>
                        <label for="telefonocontacto">Número de telefono:</label><br>
                        <input type="number" id="phone_contact" name="phone_contact" pattern="[0-9]+" value="{{contact_user.number_phone}}">
                        </p>
                        <p>
                        <label for="direccioncontacto">Dirección:</label><br>
                        <input type="text" id="address_contact" name="address_contact" value="{{contact_user.address}}">
                        </p>
                        <p>
                        <label for="emailcontacto">Correo Electrónico:</label><br>
                        <input type="email" id="email_contact" name="email_contact" value="{{contact_user.email}}">
                        </p>

                        <input type="submit" value="Actualizar">
                    </form>
                </section>
            </div>
        </div>
        <!--
        <div class="fila centrar-horizontal">
            <div class="col-12">
                <input type="checkbox" id="terminos" name="terminos" required>
                <label for="terminos">Acepto los términos y condiciones</label>
                <input type="submit" value="Enviar">
        </div>
        -->
        </div>
    </div>

    <script>
        document.getElementById('fecha_nacimiento').valueAsDate = new Date(document.querySelector(".value_fecha").innerHTML);
    </script>
</body>
</html>