{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECUERDA ME/TE</title>
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body class="font-body">
    <section class="bg-white mb-20 md:mb-52 xl:mb-72">
        <div class="container max-w-screen-xl mx-auto px-4">
    {% include 'core/header.html' %}
        </div> <!-- container.// -->
    </section>
    <div id="formu">
        <div class="centrado">
            <h3 class="text-blue-900 m-10">Datos de usuario</h3>
        </div>
        <div class="grid grid-cols-2 gap-8">
            <div class=" mt-4 datos ">
                <section>
                        <form action="" method="post">
                            <p>
                            <label for="nombre" class="block text-gray-700 text-sm font-bold">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" required class=" py-2 px-4 mt-2 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="apellido" class="block text-gray-700 text-sm mt-5 font-bold">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="fecha" class="block text-gray-700 text-sm font-bold mt-5">Fecha de nacimiento:</label>
                            <input type="date" id="fecha" name="fecha" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="direccion" class="block text-gray-700 text-sm font-bold mt-5">Dirección:</label>
                            <input type="text" id="direccion" name="direccion" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="codigopostal" class="block text-gray-700 text-sm font-bold mt-5">Código postal:</label>
                            <input type="number" id="postal" name="postal" pattern="[0-9]+" title="" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="medicacion" class="block text-gray-700 text-sm font-bold mt-5">Medicación:</label>
                            <input type="text" id="medicacion" name="medicacion" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="telefono" class="block text-gray-700 text-sm font-bold mt-5">Número de telefono:</label>
                            <input type="number" id="telefono" name="telefono" pattern="[0-9]+" title="" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                            <p>
                            <label for="opciones" class="block text-gray-700 text-sm font-bold mt-5">Selecciona una opción:</label>
                            <select id="opciones" name="opciones" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                                <option value="opcion1">Etapa 1. No existe demencia.</option>
                                <option value="opcion2">Etapa 2. Pérdida.</option>
                                <option value="opcion3">Etapa 3. Deterioro cognitivo leve.</option>
                                <option value="opcion3">Etapa 4. Declive cognitivo leve.(Demencia leve)</option>
                                <option value="opcion3">Etapa 5. Declive cognitivo moderado.</option>
                            </select>
                            </p>
                            <p>
                            <label for="email"class="block text-gray-700 text-sm font-bold mt-5">Correo Electrónico:</label>
                            <input type="email" id="email" name="email" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                            </p>
                    </form>
            </div>
            <div class=" mt-4 ">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <label for="fotoPerfil">Selecciona tu foto de perfil:</label>
                            <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/*">
                            <br>
                            <input type="submit" value="Cargar Foto">
                        </form>
            </div>
        </div>
        <div class="centrado" >
            <h3 class="text-blue-900 m-10"> Datos de contacto </h3>
        </div>   
        <div class="grid grid-cols-2 gap-8">
            <div class=" mt-4 datos">    
                    <form action="" method="post">
                        <p>
                        <label for="nombrecontscto" class="block text-gray-700 text-sm font-bold mt-5 ">Nombre:
                        </label>
                        <input type="text" id="nombre" name="nombre" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500"> 
                        </p>
                        <p>
                        <label for="apellidocontacto" class="block text-gray-700 text-sm font-bold mt-5">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                        </p>
                        <p>
                        <label for="telefonocontacto" class="block text-gray-700 text-sm font-bold mt-5">Número de telefono:</label>
                        <input type="number" id="telefono" name="telefono" pattern="[0-9]+" title="" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                        </p>
                        <p>
                        <label for="direccioncontacto" class="block text-gray-700 text-sm font-bold mt-5">Dirección:</label>
                        <input type="text" id="direccion" name="direccion" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                        </p>
                        <p>
                        <label for="emailcontacto" class="block text-gray-700 text-sm font-bold mt-5">Correo Electrónico:</label>
                        <input type="email" id="email" name="email" required class=" py-2 px-4 mt-3 border rounded-md focus:outline-none focus:border-blue-500">
                        </p>

                        <input type="submit" value="Enviar">
                    </form>
                </section>
            </div>
            <div class="mt-4">
                <form action="#" method="post" enctype="multipart/form-data">
                    <label for="fotoPerfil">Selecciona tu foto de perfil:</label>
                    <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/*">
                    <br>
                    <input type="submit" value="Cargar Foto">
                </form>
            </div>
        </div>
        <div class="centrado mt-4">
                <input type="checkbox" id="terminos" name="terminos" required class="m-2">
                <label for="terminos" class="block text-gray-700 text-sm font-bold">Acepto los términos y condiciones</label>
        </div>
        <div class="centrado  mt-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Enviar</button>
        </div>
    </div>

    <script>
        document.getElementById('fecha_nacimiento').valueAsDate = new Date(document.querySelector(".value_fecha").innerHTML);
    </script>
</body>
</html>