{% extends 'index.html' %}
{% load static %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <body class="font-body">


    <h1 class="flex justify-center text-6xl m-7">
        Juegos
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-20">
        <div class="flex justify-center my-10">
            <a href="../juegos/memory" class="inline-block bg-cover bg-center border border-blue-800 relative text-black font-bold py-6 md:py-10 px-20 text-lg rounded" style="background-image: url('../../../static/img/games/memory/boton.png');">
                Memory
            </a>
        </div>
        <div class="flex justify-center my-10">
            <a href="../juegos/tetris" class="inline-block bg-cover bg-center border border-blue-800 relative text-white font-bold py-6 md:py-10 px-20 text-lg rounded" style="background-image: url('../../../static/img/games/tetris/boton.png');">
                Tetris
            </a>
        </div>
        <div class="flex justify-center my-10">
            <a href="../games/sopa_de_letras.html" class="inline-block bg-cover bg-center border border-blue-800 relative text-black font-bold  py-6 md:py-10 px-20 text-lg rounded" style="background-image: url('../../../static/img/games/sopa de letras/boton.png');">
                Sopa de letras
            </a>
        </div>
    </div>
    </body>

    
{% endblock %}