{% extends 'index.html' %}
{% load static %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <body class="font-body">

        <section class="bg-white xl:mt-62 md:mt-42 mb-10 md:mb-42 xl:mb-62">
            <div class="container max-w-screen-xl mx-auto px-4">
                <div class="flex items-center justify-center">
                    <div class="xl:mt-40 text-center xl:text-center">
                            <h1 class="font-semibold mt-50 text-4xl md:text-5xl lg:text-6xl primario leading-normal mb-10">
                                Vamos a divertinos
                            </h1>
                            
                    </div>
                </div>
            </div> <!-- container.// -->
        </section>
    
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="flex justify-center my-10 ">
            <a href="{% url 'memory' %}" class="inline-block bg-cover bg-center border border-blue-800 relative text-black font-bold py-6 md:py-20 px-20 sombra text-lg rounded" style="background-image: url('../../../static/img/games/memory/boton.png');">
                <div class="p-1 md:p-20">
                    Memory
                </div>
            </a>
        </div>
        <div class="flex justify-center my-10">
            <a href="{% url 'tetris' %}" class="inline-block bg-cover bg-center border border-blue-800 relative text-white font-bold py-6 md:py-20 px-20 sombra text-lg rounded" style="background-image: url('../../../static/img/games/tetris/boton.png');">
                <div class="p-1 md:p-20">
                    Tetris
                </div>
            </a>
        </div>
        <div class="flex justify-center my-10">
            <a href="{% url 'sopa de letras' %}" class="inline-block bg-cover bg-center border border-blue-800 relative text-black font-bold  py-6 md:py-20 px-20 sombra text-lg rounded" style="background-image: url('../../../static/img/games/sopa de letras/boton.png');">
                <div class="p-1 md:p-20">
                    Sopa de letras
                </div>
            </a>
        </div>
    </div>
    </body>

    
{% endblock %}