<div class="list_spotify" style="display: none; flex-direction: column; position: fixed; top: 0; bottom: 0; left: 0; right: 0; justify-content: center;">
    <div method="POST" class="form_music">
        <input type="text" class="input_music" placeholder="Buscar cancion, artista, album o playlist">
        <p class="enter_music">Buscar</p>
    </div>
    <div class="spotify_track" style="grid-row: 2/3;">
        <p>Tracks</p>
        <div class="tracks" style="display: flex;"></div>
    </div>
    <div class="spotify_artist" style="grid-row: 3/4;">
        <p>Artistas</p>
        <div class="artists" style="display: flex;"></div>
    </div>
    <div class="spotify_albums" style="grid-row: 4/5;">
        <p>Albums</p>
        <div class="albums" style="display: flex;"></div>
    </div>
    <div class="spotify_playlist" style="grid-row: 5/6;">
        <p>Playlist</p>
        <div class="playlists" style="display: flex;"></div>
    </div>
</div>
