{%load static%}
<head>
    <title>Mostrar Transcripción</title>
    <!-- Agrega el enlace al archivo CSS de Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<div style="position:fixed; right: 10px; bottom:0; width:25%;" class="  bg-gray-100 flex flex-col">
    <span class="material-symbols-outlined i-chatbot bg-gray-700 " style="background-color:#4E84A6; padding:10px; color:white; bottom: 15px; right: 15px; position:fixed; border-radius: 5px; cursor: pointer; font-size:30px">
        smart_toy
    </span>

    <div class="chatbot" style="display:none">
        <div style="display:flex; width:100%" class="bg-gray-700 font-semibold text-4xl text-white p-4 text-center rounded">
            <h1 class="lilly">Lilly</h1>
            <span class="material-symbols-outlined close-chatbot" style="width:50%; text-align:right; margin:auto; cursor: pointer">
                close
            </span>
        </div>

        <div id="conversation" style="height: 250px;overflow-y:scroll; bottom: 0;" class="flex-1 p-4 bg-white mt-4 rounded">
            <div class="flex items-start mb-2">
                <div class="bg-gray-200 p-2 rounded-tl rounded-tr rounded-br">
                    <p class="text-gray-800">Hola soy Lilly, escribe algo para comenzar...</p>
                </div>
                {% if texto_grabado %}
                <div class="flex items-end mb-2">
                    <div class="bg-blue-500 text-white p-2 rounded-tl rounded-tr rounded-bl self-end">
                        <p>{{texto_grabado}}</p>
                    </div>
                </div>
                <div class="flex items-start mb-2">
                    <div class="bg-gray-300 p-2 rounded-tl rounded-tr rounded-br">
                        <p class="text-gray-800">Lilly: {{respuesta}}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="pl-4">
            <form method="post" class="formText">
            {% csrf_token %}
                <input type="text" class="input_message " name="message" placeholder="Escribe un mensaje">
                <button type="submit" name="submit_message" value="Mandar" class="bg-gray-400 hover:bg-gray-800  text-white p-2 rounded transition duration-300">
                    <span class="material-symbols-outlined">
                    send
                    </span>
                </button>
                </form>
        </div>
        <form method="post" id="formAudio" action="{% url 'grabar_audio' %}" class="p-4">
            {% csrf_token %}
            <input type="hidden" name="template_name" value="{% if request.resolver_match.url_name %}{{ request.resolver_match.url_name }}{% endif %}">
            <button id="grabarForm" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white p-2 rounded transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
                    Grabar Mensaje
                </svg>
                
            </button>
        </form>
    </div>



    <script>
        document.querySelector(".i-chatbot").addEventListener("click", () => {
            document.querySelector(".i-chatbot").style.display = 'none'
            document.querySelector(".chatbot").style.display = 'block'
        })
        document.querySelector(".close-chatbot").addEventListener("click", () => {
            document.querySelector(".i-chatbot").style.display = 'block'
            document.querySelector(".chatbot").style.display = 'none'
        })


        document.querySelector(".formText").addEventListener("submit", (e) => {
            e.preventDefault();
            let message = e.target.message
            fetch(`http://127.0.0.1:8000/api/chatbot/${message.value}`)
            .then(response => response.json())
            .then(json => {
                respuesta = json["respuesta"]
                if (respuesta == '../juegos'){
                    location.href = '../juegos'
                } else if (respuesta == '../calendario'){
                    location.href = '../calendario'
                } else if (respuesta.includes("http://127.0.0.1:8000/api/spotify/")) {
                    let category = respuesta.substr(0, respuesta.indexOf(":"))
                    let link_music = respuesta.substr(respuesta.indexOf(":")+1)

                    const url = "https://accounts.spotify.com/api/token";
                    const client_id = "6f6a277ceb024282bd6b71a5ec18d995";
                    const client_secret = "67038f5e05ec4e13873b3cc68ff2d52d";

                    const data = new URLSearchParams();
                    data.append("grant_type", "client_credentials");
                    data.append("client_id", client_id);
                    data.append("client_secret", client_secret);

                    fetch(url, {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: data,
                      })
                    .then(response => response.json())
                    .then(data => {
                        fetch(link_music, {
                            method: "GET",
                            headers: {
                                "Authorization": `Bearer ${data.access_token}`
                            }
                        })
                        .then(response => response.json())
                        .then(respuesta => { 
                            document.getElementById("conversation").insertAdjacentHTML('beforeend', `
                                <div class="flex items-start mb-2" style="display:flex; flex-direction:column">
                                    <div class="flex items-end mb-2">
                                        <div class="bg-gray-800 text-white p-2 rounded-tl rounded-tr rounded-bl self-end">
                                            <p>${json["message"]}</p>
                                        </div>
                                    </div>
                                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/${category}/${respuesta[`${category}s`]["items"][0].id}?utm_source=generator" width="100%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>     
                                    <p>¡Inicia sesión en Spotify para escuchar la pista completa!</p>       
                                </div>
                            `)
                        })
                    })
                } else if (respuesta == 'contacto de emergencia'){
                    fetch('http://127.0.0.1:8000/api/contact/')
                    .then(response => response.json())
                    .then(contact => {
                        if (contact == 'No has cargado a ningún contacto'){
                            contact_json = contact
                        } else {
                            contact_json = `
                            </br>
                                Nombre: ${contact["firstname"]} </br>
                                Apellido: ${contact["lastname"]} </br>
                                Teléfono: ${contact["number_phone"]} </br>
                                Dirección: ${contact["address"]} </br>
                                Email: ${contact["email"]}
                            `
                        }
                    
                        document.getElementById("conversation").insertAdjacentHTML('beforeend', `
                        <div class="flex items-end mb-2">
                            <div class="bg-gray-800 text-white p-2 rounded-tl rounded-tr rounded-bl self-end">
                                <p>${json["message"]}</p>
                            </div>
                        </div>
                        <div class="flex items-start mb-2">
                            <div class="bg-gray-300 p-2 rounded-tl rounded-tr rounded-br">
                                <p class="text-gray-800">Lilly: ${contact_json}</p>
                            </div>
                        </div>
                    `)
                    })
                } else {
                    document.getElementById("conversation").insertAdjacentHTML('beforeend', `
                        <div class="flex items-end mb-2">
                            <div class="bg-gray-800 text-white p-2 rounded-tl rounded-tr rounded-bl self-end">
                                <p>${json["message"]}</p>
                            </div>
                        </div>
                        <div class="flex items-start mb-2">
                            <div class="bg-gray-300 p-2 rounded-tl rounded-tr rounded-br">
                                <p class="text-gray-800">Lilly: ${json["respuesta"]}</p>
                            </div>
                        </div>
                    `)
                }
                message.focus()
                e.target.submit_message.blur()
                e.target.reset()
            })
        });
        
        document.getElementById("grabarForm").addEventListener("submit", function (event) {
            event.preventDefault();

            // Realizar la solicitud POST a la vista grabar_audio
            fetch("{% url 'grabar_audio' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams(new FormData(document.getElementById("grabarForm")))
            })
            .then(response => response.json())
            .then(data => {
            })
            .catch(error => console.error("Error:", error));
        });
    </script>
</div>
