{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <footer class="bg-white py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">
            <div class="text-center mb-10 lg:mb-0">
                <div class="flex justify-center  mb-5">
                    <img src=" {% static 'img/codehex.jpeg'%}" alt="" class="w-30 pl-10 h-20 ">
                </div>
                <p class="font-light text-gray-400 text-xl mb-10">&copy; 2024 CODHEX.SL <br>Todos los derechos reservados.</p>
                <div class="flex items-center justify-center ">
                    <a href="#" class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-green-800 hover:text-white transition ease-in-out duration-500">
                        <i data-feather="facebook"></i>
                    </a>

                    <a href="#" class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-green-800 hover:text-white transition ease-in-out duration-500">
                        <i data-feather="twitter"></i>
                    </a>

                    <a href="#" class="px-3 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-green-800 hover:text-white transition ease-in-out duration-500">
                        <i data-feather="linkedin"></i>
                    </a>
                </div>
            </div>
    </div> <!-- container.// -->

</footer>
<script>
    feather.replace()
</script>
<!-- footer //end -->