<footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto">
        <div class="flex flex-col  justify-center items-center  w-full">
            <div class="flex flex-col ">
                <div class="mb-4 text-sm text-center">
                    <p>El Prat de Llobregat, Barcelona</p>
                </div>
                <div class="mb-4 text-sm text-center">
                    <p>codehex@gmail.com</p>
                </div>
            </div>
            <div class="text-sm">
                <p>&copy; 2024 CODHEX.SL Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>