body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}
#principal #oboutus #formu{
    width: 100%;
    margin: auto;
}

/* ---Login--- */
.login{
    box-shadow: -10px -0px 50px 0px #8999ff;
}
 /* ---Register--- */
.register{
    box-shadow: -10px 0px 50px 0px #8999ff;
}

/* ---Formulario--- */

section {
    padding: 20px 300px 20px 300px;
    border:2px solid black;
}
#formu h3{
        font-size: 28px;
        text-align: center;
}